<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue@3.0.9/dist/vue.global.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
		<style>

			body {
				overflow-y: scroll;
			}

			table td {
				border: 1px solid #aaa;
				width: 25px;
			}

			table td.filled {
				background-color: #444;
			}

			table td.possible {
				background-color: #a8b7c6;
			}
			table td.empty {
				background-color: white;
			}

			table td.impossible {
				background-color: darkred;
			}

			table tr.indexing td {
				border: 0;
				font-size: 10px;
				text-align: center;
				color: #aaa;
				cursor: pointer;
				height: 35px;
			}

			table tr.can_solve td:first-child {
				/* box-shadow: 0px 0px 3px 0px inset green; */
				/* font-weight: bold; */
				color: green  !important;
			}

			table tr.cant_solve td:first-child {
				/* box-shadow: 0px 0px 3px 0px inset red; */
				font-weight: bold;
				color: red  !important;
			}

			table tr.indexing td span {
				color :#aaa;
				height: 15px;
			}

			table tr.indexing td.set span {
				color: white;
				background: lightsalmon;
			}

			table tr.indexing td:hover span {
				color: white;
				background: lightskyblue;
			}

			table td:first-child {
				width: 140px;
			}

			table tr.borders td {
				border: 0;
			}

			table tr.borders td.l {
				background-color: #d9b6d9;
				text-align: center;
				font-size: 10px;
				color: white;
				font-weight: bold;
			}

			table tr.borders td.r {
				background-color: #efd38c;
				text-align: center;
				font-size: 10px;
				color: white;
				font-weight: bold;
			}

			.data {
				font-family: monospace;
				font-size: 10px;
				color: #666;
				background: #fafafa; 
				border: 1px solid #ccc;
			}

		</style>
	</head>
<body>

	<div id="app">
		<div class="container-fluid mt-5">
			<div class="row">
			<div class='col-6'>
				<span>Constraints: </span><input v-model='constraint' class='me-3'>

				<div class="messages data p-2 my-5">
					<div class=" d-table" v-for="(message) in messages">{{ message }}<br/></div>
				</div>
			</div>
			<div class='col-6'>		
				<table>
					<tr class="indexing" @mouseout="set_index(null)">
						<td>&nbsp;</td>
						<td v-for="(cell, i) in input" @mouseover="set_index(i)" :class=" { set: i == index }">
							<span class="badge">{{ i }}</span>
						</td>
						
					</tr>
					<tr>
					</tr>
					<tr>
						<td style="border: none" class="pe-3 text-muted"><small>input</small></td>
						<td v-for="(i, index) in input" @click="toggle_cell(index)" :class="status[i]" :id="index"></td>
					</tr>
					<tr>
						<td style="border: none">&nbsp;</td>
					</tr>
					<tr class="output" :class=" { can_solve: can_solve_white && this.index, cant_solve: !can_solve_white && this.index }">
						<td style="border: none; box-shadow: none" class="pe-3 text-muted"><small>solution_white</small></td>
						<td v-for="(o, index) in solution_white" :class="status[o]" :id="index">
						</td>
					</tr>

					<tr>
						<td style="border: none">&nbsp;</td>
					</tr>
					<tr class="output" :class=" { can_solve: can_solve_black && this.index, cant_solve: !can_solve_black && this.index }">
						<td style="border: none; box-shadow: none" class="pe-3 text-muted"><small>solution_black</small></td>
						<td v-for="(o, index) in solution_black" :class="status[o]" :id="index">
						</td>
					</tr>

					<tr>
						<td style="border: none">&nbsp;</td>
					</tr>
					<tr class="output">
						<td style="border: none" class="pe-3 text-muted"><small>output</small></td>
						<td v-for="(o, index) in output" :class="status[o]" :id="index">
						</td>
					</tr>

				</table>



			</div>
		</div>	
			<div>
				<div>
		
				</div>
				<div>

				</div>
			</div>	
			</div>
		</div>
	</div>
	<script type="text/javascript">

			let size = 20;

			const app = Vue.createApp({
				data() {
					return {
						input: [],
						output: [],
						draft: [],
						constraint: null,
						constraints: [],
						status: ['empty', 'possible', 'filled', 'impossible'],
						possible_parts: [],
						actual_parts: [],
						messages: [],

						solution_white: [],
						solution_black: [],
						index : null,
						current: null,
						current_type: null,

						can_solve_black: false,
						can_solve_white: false,

						messages: [],

						positions: [],
					}
				},
				created() {
					for(let i = 0; i < size; i++) {
						this.input.push(1);
						this.draft.push(1);
						this.output.push(1);

						this.solution_black.push(1);
						this.solution_white.push(1);
					}

					//this.determine_parts(0, size, true);
				},
				watch: {
					constraint(new_constraint, old_constraint) {
						this.constraints = new_constraint.split(',');
						this.constraints = this.constraints.map((n) => Number(n)); 	
					},

					constraints() {
						this.update()
					},
					input() {
						this.update()
					},
				},
				methods: {

					log(message) {
						if (this.current == this.index) {
							this.messages.push(message)
						}
					},

					set_index(index) {
						this.index = index;
						this.generate_output();
					},

					update() {
						//this.possible_parts = this.determine_parts(this.input, 0, size, true);
						//this.actual_parts = this.determine_parts(this.input, 0, size);
						//this.can_fit_constraints();
					},

					toggle_cell(index) {
						this.input[index] += 1;
						if (this.input[index] > 2) {
							this.input[index] = 0
						}
					},

					get_constraints_length(constraints) {
						let length = 0;
						for (let i = 0; i < constraints.length; i++) {
							length += constraints[i];
							if (i < constraints.length - 1) {
								length++;
							}
						}
						return length;
					},

					determine_parts(cells, start, stop, include_possible) {

						let parts = []

						let length = 0;
						let left = 0;
						let right = 0;

						let finish_part = (i) => {
							if (length > 0) {
								
								parts.push({ length: length, left: left, right: i - 1 })
								length = 0;
							}
						}

						let build_part = (i) => {
							if (length === 0) {
								left = i;
							}
							length++ 
						}

						for (let i = start; i < stop; i++) {
							//
							switch(cells[i]) {
								case 2: 
									build_part(i);
									break;
								case 1:
									include_possible ? build_part(i) : finish_part(i);
									break;
								case 0:
									finish_part(i);
									break;

							}
						}

						// possible remaining part
						if (length > 0) {
							
							finish_part(stop);
							//parts.push({ length: length, left: left, right: stop })
						}

						return parts;
					},

					generate_output() {

						for (let i = 0 ; i < size; i++) {
							this.solution_black[i] = this.input[i];
							this.solution_white[i] = this.input[i];
						}

						this.messages = [];
						
						this.clear_positions();
						
						this.draft = [...this.input];

						for (let i = 0; i < size; i++) {

							this.current = i;

							this.output[i] = 1;

							if (this.input[i] != 1) {
								this.draft[i] = this.input[i];
								this.output[i] = this.input[i];
								continue;
							}

							this.log("==== WHITE ===")
								
							this.draft[i] = 0;
							this.current_type = 0;
							let can_be_empty = this.can_apply_constraints(this.draft);

							this.log("...done, outcome: " + can_be_empty)
							this.log("Positions: " + this.positions)
							this.log("")

							if (can_be_empty) {
								this.mark_solution(this.solution_white)
							}

							this.clear_positions();

							this.log("==== BLACK ===")
							
							this.draft[i] = 2;
							this.current_type = 2;
							let can_be_filled = this.can_apply_constraints(this.draft);

							this.log("...done, outcome: " + can_be_filled)
							this.log("Positions: " + this.positions)
							this.log("")

							if (can_be_filled) {
								this.mark_solution(this.solution_black)
							}

							this.clear_positions();

							if (this.index == i) {
								this.can_solve_white = can_be_empty
								this.can_solve_black = can_be_filled
							}

							if (!can_be_empty && !can_be_filled) {
								this.output[i] = 3;
								break;
							}
								
							if (!can_be_empty) {
								this.draft[i] = 1;
								this.output[i] = 2;
								continue
 							}

							if (!can_be_filled) {
								this.draft[i] = 1;
								this.output[i] = 0;
								continue
 							}

							this.draft[i] = 1;
							this.output[i] = 1;
							
						}

						this.solution_white[this.index] = 0;
						this.solution_black[this.index] = 2;
					},

					can_apply_constraints(cells) {
						let index = 0;

						if (this.constraints.length == 0) {
							return true;
						}

						let constraints = [...this.constraints];
						let actual_parts = this.determine_parts(cells, 0, size);
						//let possible_parts = this.determine_parts(cells, 0, size, true);

						return result = this.can_fit(cells, constraints, actual_parts,  0)
					},

					mark_solution(cells) {

						if (this.current !== this.index) {
							return;
						}

						for (let i = 0; i < this.positions.length; i++) {
							let position = this.positions[i]
							let constraint = this.constraints[i]
							for (let j = position; j < position + constraint; j++) {
								cells[j] = 2;
							}
						}
					},

					clear_positions() {
						if (this.current !== this.index) {
							return;
						}

						this.positions = [];
					}, 

					push_position(p) {
						if (this.current !== this.index) {
							return;
						}

						this.positions.push(p)
					},

					pop_position() {
						if (this.current !== this.index) {
							return;
						}

						this.positions.pop()
					},			

					can_fit(cells, constraints, actual_parts, start) {

						this.log("### CAN FIT START: " + start)
						
						if (start >= size && constraints.length > 0) {		
							// array is op
							this.log("FALSE at " + start + ", array gone")
							return false;
						}
						
						if (constraints.length === 0) {
							if (actual_parts.length > 0) {
								return false;
							} else {
								this.log("No more constraints to place and no more actual parts. it fts!");
								return true;
							}
						}

						/*
						 *		no actual parts
						 *
						 */

						 // @todo: fix this error in copying arrays
						if (actual_parts.length === 0) {

							this.log("No actual parts, constraints : " + constraints)

							//for (let i = 0; i < constraints.length; i++) {
								let constraint = constraints[0];

								this.log("trying to fit c " + constraint + " from " + start)

								let r = this.fit_constraint(cells, constraint, start, size);
								if (r !== false) {
									let c_remaining = [...constraints].splice(1)
									let s_remaining = r + 2;

									this.log("pushed constraint to left until : " + r);

									this.push_position(r - constraint + 1);

									if (this.can_fit(cells, c_remaining, actual_parts, s_remaining)) {
										this.log("Remainder fits after pushing constraint!")	
										return true;
									}

									this.pop_position();

									this.log("Nope, constraint cannot be pushed to the left")
								}
							//}

							return false;
						}

						/*
						 *		actual parts
						 *
						 */

						for (let j = 0; j < actual_parts.length; j++) {

							this.log(actual_parts.length + " actual parts")
							
							let actual_part = actual_parts[j];

							this.log("starting with a " + actual_part.length + "  from " + actual_part.left + " to " + actual_part.right)
	
							if (start + actual_part.length > size) {
								
								return false;
							}

							for (let k = 0; k < constraints.length; k++) {
								let constraint = constraints[k];

								let r = this.fit_constraint(cells, constraint, start, actual_part.left);
								if (r !== false) {
									let c_remaining = [...constraints].splice(k + 1)
									let s_remaining = r + 2;

									this.log("pushing constraint " + constraint + " to " + r)

									this.push_position(r - constraint + 1)

									if (this.can_fit(cells, c_remaining, actual_parts, s_remaining)) {
										this.log("Remainder fits after pushing constraint!")
	
										return true;
									}

									this.pop_position()

									this.log("Nope, constraint cannot be pushed to the left")
								}

								// same size
								if (actual_part.length == constraint) {	
									
									this.log(actual_part.length + " is same size, see if we can fit remainder to the right")

									this.push_position(actual_part.left);

									let a_remaining = [...actual_parts].splice(j + 1);
									let c_remaining = [...constraints].splice(k + 1)
									let s_remaining = actual_part.right + 2

									if (this.can_fit(cells, c_remaining, a_remaining, s_remaining)) {
										this.log("Yes, remainder fits, done")
										return true;
									}

									this.log("Nope, reverting from "  + actual_part.left)
									
									this.pop_position();
								}

								// smaller
								if (actual_part.length < constraint) {	

									this.log(actual_part.length + " is smaller than constraint size " + constraint + ", see if we can grow it")

															
									for (let l = actual_parts.length - 1; l >= j; l--) {	
										
										let _actual_part = actual_parts[l];	
										let r = this.part_can_grow(cells, _actual_part, constraint, start);
									
										if (r !== false && (r + 1 - constraint) <= actual_part.left) {
											
											if (cells[r + 1] ==2) {
												this.log("Grown part would be bigger because of neighbor cell to r, so no fit");
												continue
											}

													
											let a_remaining = [...actual_parts].splice(l + 1);
											let c_remaining = [...constraints].splice(k + 1)
											let s_remaining = r + 2;

											this.log(constraint + " can fit from " + (r + 1 - constraint) + " to  " + r + ", see if rest fits from " + s_remaining)
											
											this.push_position(r + 1 - constraint);

											if (this.can_fit(cells, c_remaining, a_remaining, s_remaining)) {
												this.log("Yes, remainder fits, done")
												return true;
											}

											this.log("Nope, reverting from "  + actual_part.left)

											this.pop_position();
										}
									}
								}

								// can't fit this constraint; push left and continue

								this.log(actual_part.length + " is bigger than constraint, pushing constraint to the left")




								this.log('Cannot fit, returning false')
								
								return false;
							}
						}

					},

					part_can_grow(cells, part, required, start) {

						this.log("$$$ can grow called with req: " + required + ", start: " + start)

						let difference = required - part.length;

						let i = part.left  - difference;
						let j = part.right + difference;

						if (i < 0) {
							i = 0;
						}

						if (i < start) {
							i = start
						}

						if (j > size - 1) {
							j = size - 1;
						}

						let length = 0;
						let right = 0;

						this.log("$$$ checking from: " + i + " to : " + j)


						for (let k = i; k <= j; k++) {
							if (cells[k] != 0) {
								length++
								

								right = k;

								if (length == required) {
									break;
								}
							} else {
								
								length = 0;
							}
						}
						

						

						if (length != required) {
							this.log("$$$ no can do")
							return false;
						}
						
						return right;
					},

					fit_constraint(cells, required, start, stop) {

						let length = 0;
						let right = 0;

						for (let k = start; k < stop; k++) {
							if (cells[k] != 0) {
								length++
								

								right = k;

								if (length == required) {
									break;
								}
							} else {
								
								length = 0;
							}
						}

						if (length != required) {
							return false;
						}

						return right;
					}


						// code voor geen actual_parts

						/*

						// past alles in een van de vakjes?


						*/

						//
					
				}
			})
			const vm = app.mount("#app")
	</script>
</body>
</html>
